<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                                 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                                 http://www.springframework.org/schema/security
                                 http://www.springframework.org/schema/security/spring-security.xsd">
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/index" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <intercept-url pattern="/users" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/addUser" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/editUser" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/deleteUser/{userId}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/customers" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/addCustomer" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/editCustomer" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/deleteCustomer/{customerId}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/category" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/addCategory" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/editCategory" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/deleteCategory/{categoryId}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/product" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/addProduct" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/editProduct" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/deleteProduct/{productId}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/orders" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/addOrder" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/deleteOrder/{orderId}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/machine" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/addMachine" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/editMachine" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/deleteMachine/{machineId}" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/production" access="hasRole('ROLE_ADMIN')" />
        <intercept-url pattern="/myProduction" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/addProduction" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/editProduction" access="hasRole('ROLE_USER')" />
        <intercept-url pattern="/deleteProduction/{productionId}" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
        <intercept-url pattern="/profile" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />

        <access-denied-handler error-page="/401" />
        <form-login login-processing-url="/j_spring_security_check"
            login-page="/"
            default-target-url="/index"
            authentication-failure-url="/?error"
            username-parameter="username"
            password-parameter="password"/>
        <logout logout-url="/j_spring_security_logout" logout-success-url="/?logout" />

    </http>
    <authentication-manager>
        <authentication-provider>
            <password-encoder hash="sha-256"/>
            <jdbc-user-service data-source-ref="dataSource"
                   users-by-username-query="select username, password, enabled from users where username=?"
                   authorities-by-username-query="select username, role from users where username =?" />
        </authentication-provider>
    </authentication-manager>
</beans:beans>